%span.verified-badge
  = link_to(link) do
    = image_tag 'check_icon.png', class: 'verified-badge__mark'  # Replace with your icon logic
    = link  # You can customize the display of the link as needed
